In [ ]:
from google.colab import files
files.upload()

In [ ]:
!ls

'Salary Data.xlsx'   sample_data

In [ ]:
import pandas as pd

data1 = pd.read_excel('Salary Data.xlsx', sheet_name = "Student information")
data2 = pd.read_excel("Salary Data.xlsx", sheet_name = "Personality test data")

data2["Avg_Personality"] = (data2["conscientiousness"]+data2["agreeableness"]+data2["extraversion"]+data2["nueroticism"]+data2["openess_to_experience"])/5

data = pd.merge(data1, data2 [["Registration No", "Avg_Personality"]], left_on="Registration Number", right_on="Registration No", how="left")
data.head()

   Registration Number    CTC  ... Registration No Avg_Personality
0               432376   4.20  ...          432376        0.644560
1               432383   5.00  ...          432383        0.328220
2               432390   3.25  ...          432390        0.390060
3               432397  11.00  ...          432397       -0.256000
4               432404   2.00  ...          432404       -0.453574

[5 rows x 24 columns]

In [ ]:
#Deleting Columns:
data.pop("Registration Number")
data.pop("Registration No")
data.pop("Joining_date")
data.pop("Leaving_date")
data.pop("Gender")
data.pop("DOB")
data.pop("10board")
data.pop("10percentage")
data.pop("12percentage")
data.pop("12graduation")
data.pop("12board")
data.pop("CollegeID")
data.pop("CollegeCityID")
data.pop("CollegeCityTier")
data.pop("CollegeState")
data.pop("GradYear")
data

        CTC                      Role  ... collegeGPA  Avg_Personality
0      4.20   senior quality engineer  ...      78.00         0.644560
1      5.00         assistant manager  ...      70.06         0.328220
2      3.25          systems engineer  ...      70.00         0.390060
3     11.00  senior software engineer  ...      74.64        -0.256000
4      2.00                       get  ...      73.90        -0.453574
...     ...                       ...  ...        ...              ...
3493   4.05          project engineer  ...      83.53         0.611700
3494   3.25           system engineer  ...      74.31        -0.615700
3495   4.25           design engineer  ...      76.27        -0.050140
3496   5.30        technology analyst  ...      74.50        -0.240480
3497   1.20           design engineer  ...      60.00         0.404320

[3498 rows x 8 columns]

In [ ]:
# data.drop(["Registration Number", "Gender", "DOB", "10percentage", "10board", "12graduation", "12board", "CollegeID", "CollegeCityID", "CollegeCityTier", "CollegeState", "GradYear"], axis = 1, inplace = True)

In [ ]:
#Dropping records/rows with null values present in any column.

data = data.dropna(how="any")
data

        CTC                      Role  ... collegeGPA  Avg_Personality
0      4.20   senior quality engineer  ...      78.00          0.64456
1      5.00         assistant manager  ...      70.06          0.32822
2      3.25          systems engineer  ...      70.00          0.39006
3     11.00  senior software engineer  ...      74.64         -0.25600
5      3.00           system engineer  ...      76.32         -0.96410
...     ...                       ...  ...        ...              ...
3493   4.05          project engineer  ...      83.53          0.61170
3494   3.25           system engineer  ...      74.31         -0.61570
3495   4.25           design engineer  ...      76.27         -0.05014
3496   5.30        technology analyst  ...      74.50         -0.24048
3497   1.20           design engineer  ...      60.00          0.40432

[3448 rows x 8 columns]

In [ ]:
#Changing "-1" in Job City as "Work From Home"

data.loc[data['JobCity']==-1,'JobCity'] = 'Work From Home'
data

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

        CTC                      Role  ... collegeGPA  Avg_Personality
0      4.20   senior quality engineer  ...      78.00          0.64456
1      5.00         assistant manager  ...      70.06          0.32822
2      3.25          systems engineer  ...      70.00          0.39006
3     11.00  senior software engineer  ...      74.64         -0.25600
5      3.00           system engineer  ...      76.32         -0.96410
...     ...                       ...  ...        ...              ...
3493   4.05          project engineer  ...      83.53          0.61170
3494   3.25           system engineer  ...      74.31         -0.61570
3495   4.25           design engineer  ...      76.27         -0.05014
3496   5.30        technology analyst  ...      74.50         -0.24048
3497   1.20           design engineer  ...      60.00          0.40432

[3448 rows x 8 columns]

In [ ]:
#Removing extra spaces and blanks from JobCity Column to make it easier to work with

data.JobCity = data.JobCity.str.strip()
data

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:5208: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

        CTC                      Role  ... collegeGPA  Avg_Personality
0      4.20   senior quality engineer  ...      78.00          0.64456
1      5.00         assistant manager  ...      70.06          0.32822
2      3.25          systems engineer  ...      70.00          0.39006
3     11.00  senior software engineer  ...      74.64         -0.25600
5      3.00           system engineer  ...      76.32         -0.96410
...     ...                       ...  ...        ...              ...
3493   4.05          project engineer  ...      83.53          0.61170
3494   3.25           system engineer  ...      74.31         -0.61570
3495   4.25           design engineer  ...      76.27         -0.05014
3496   5.30        technology analyst  ...      74.50         -0.24048
3497   1.20           design engineer  ...      60.00          0.40432

[3448 rows x 8 columns]

In [ ]:
#Making first letter of all the entries in the column capital. For eg. Delhi instead of delhi/DELHI/DeLHi

data["JobCity"]=data["JobCity"].str.title()
data

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

        CTC                      Role  ... collegeGPA  Avg_Personality
0      4.20   senior quality engineer  ...      78.00          0.64456
1      5.00         assistant manager  ...      70.06          0.32822
2      3.25          systems engineer  ...      70.00          0.39006
3     11.00  senior software engineer  ...      74.64         -0.25600
5      3.00           system engineer  ...      76.32         -0.96410
...     ...                       ...  ...        ...              ...
3493   4.05          project engineer  ...      83.53          0.61170
3494   3.25           system engineer  ...      74.31         -0.61570
3495   4.25           design engineer  ...      76.27         -0.05014
3496   5.30        technology analyst  ...      74.50         -0.24048
3497   1.20           design engineer  ...      60.00          0.40432

[3448 rows x 8 columns]

In [ ]:
#Dropping Job Cities that are not in India:

data.drop(data[data['JobCity'] == "London"].index, inplace = True)
data.drop(data[data['JobCity'] == "Ras Al Khaimah"].index, inplace = True)
data.drop(data[data['JobCity'] == "Kalmar, Sweden"].index, inplace = True)
data.drop(data[data['JobCity'] == "Al Jubail,Saudi Arabia"].index, inplace = True)
data.drop(data[data['JobCity'] == "Jeddah Saudi Arabia"].index, inplace = True)
data.drop(data[data['JobCity'] == "Australia"].index, inplace = True)
data.drop(data[data['JobCity'] == "Dubai"].index, inplace = True)
data.drop(data[data['JobCity'] == "India"].index, inplace = True)
data.drop(data[data['JobCity'] == "Orissa"].index, inplace = True)
data.drop(data[data['JobCity'] == "Bihar"].index, inplace = True)
data

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4117: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

        CTC                      Role  ... collegeGPA  Avg_Personality
0      4.20   senior quality engineer  ...      78.00          0.64456
1      5.00         assistant manager  ...      70.06          0.32822
2      3.25          systems engineer  ...      70.00          0.39006
3     11.00  senior software engineer  ...      74.64         -0.25600
5      3.00           system engineer  ...      76.32         -0.96410
...     ...                       ...  ...        ...              ...
3493   4.05          project engineer  ...      83.53          0.61170
3494   3.25           system engineer  ...      74.31         -0.61570
3495   4.25           design engineer  ...      76.27         -0.05014
3496   5.30        technology analyst  ...      74.50         -0.24048
3497   1.20           design engineer  ...      60.00          0.40432

[3436 rows x 8 columns]

In [ ]:
data["CityTier"] = data["JobCity"].apply(lambda x : 1 if "Bangalore" in str(x) or "Delhi NCR" in str(x) or "Mumbai"  in str(x) or "Chennai" in str(x) or "Hyderabad" in str(x) or "Kolkata" in str(x) or "Pune" in str(x)  else 0)
data

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

        CTC                      Role  ... Avg_Personality  CityTier
0      4.20   senior quality engineer  ...         0.64456         1
1      5.00         assistant manager  ...         0.32822         0
2      3.25          systems engineer  ...         0.39006         1
3     11.00  senior software engineer  ...        -0.25600         0
5      3.00           system engineer  ...        -0.96410         1
...     ...                       ...  ...             ...       ...
3493   4.05          project engineer  ...         0.61170         0
3494   3.25           system engineer  ...        -0.61570         1
3495   4.25           design engineer  ...        -0.05014         1
3496   5.30        technology analyst  ...        -0.24048         1
3497   1.20           design engineer  ...         0.40432         0

[3436 rows x 9 columns]

In [ ]:
data.pop("JobCity")

0            Bangalore
1               Indore
2              Chennai
3              Gurgaon
5            Hyderabad
             ...
3493    Work From Home
3494         Bangalore
3495           Chennai
3496         Bangalore
3497         Ghaziabad
Name: JobCity, Length: 3436, dtype: object

In [ ]:
def label(colname,df):
    uniqueV = df[colname].unique()
    for i in range(0, len(uniqueV)):
        df.loc[df[colname] == uniqueV[i], colname] = int(i)
    return df

In [ ]:
data = label("Branch",data)
data = label("Deg",data)

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [ ]:
# Threshold of 12 lpa

data = data[data["CTC"]<12]
data

        CTC                      Role  ...  Avg_Personality  CityTier
0      4.20   senior quality engineer  ...          0.64456         1
1      5.00         assistant manager  ...          0.32822         0
2      3.25          systems engineer  ...          0.39006         1
3     11.00  senior software engineer  ...         -0.25600         0
5      3.00           system engineer  ...         -0.96410         1
...     ...                       ...  ...              ...       ...
3493   4.05          project engineer  ...          0.61170         0
3494   3.25           system engineer  ...         -0.61570         1
3495   4.25           design engineer  ...         -0.05014         1
3496   5.30        technology analyst  ...         -0.24048         1
3497   1.20           design engineer  ...          0.40432         0

[3413 rows x 8 columns]

In [ ]:
len(data["Role"].unique())

391

In [ ]:
data["Role"].unique()

array(['senior quality engineer', 'assistant manager', 'systems engineer',
       'senior software engineer', 'system engineer',
       'java software engineer', 'mechanical engineer',
       'project engineer', 'senior php developer',
       'senior systems engineer', 'quality assurance engineer',
       'qa analyst', 'network engineer', 'product development engineer',
       'associate software developer', 'data entry operator',
       'software engineer', 'developer', 'electrical project engineer',
       'programmer analyst', 'systems analyst', 'ase',
       'telecommunication engineer', 'application developer',
       'ios developer', 'executive assistant', 'online marketing manager',
       'documentation specialist', 'associate software engineer',
       'management trainee', 'site manager', 'software developer',
       '.net developer', 'production engineer', 'jr. software engineer',
       'trainee software developer', 'ui developer',
       'assistant system engineer', 'android developer',
       'customer service', 'test engineer', 'java developer', 'engineer',
       'recruitment coordinator', 'technical support engineer',
       'data analyst', 'assistant software engineer', 'faculty',
       'entry level management trainee',
       'customer service representative', 'software test engineer',
       'firmware engineer', 'php developer', 'research associate',
       'research analyst', 'quality engineer', 'programmer',
       'technical support executive', 'business analyst',
       'electrical engineer', 'web developer', 'application engineer',
       'project coordinator', 'sap consultant', 'quality analyst',
       'marketing coordinator', 'system administrator', 'senior engineer',
       'business development managerde', 'network administrator',
       'technical support specialist', 'business development executive',
       'junior software engineer', 'asp.net developer',
       'graduate engineer trainee', 'assistant professor',
       'trainee software engineer', 'senior software developer',
       'quality assurance automation engineer', 'design engineer',
       'telecom engineer', 'quality control engineer', 'hr recruiter',
       'sales associate', 'junior engineer', 'associate engineer',
       'maintenance engineer', 'sales engineer',
       'human resources associate', 'mobile application developer',
       'electronic field service engineer', 'process associate',
       'field service engineer', 'it support specialist',
       'software development engineer', 'business process analyst',
       'electrical designer', 'marketing assistant', 'admin assistant',
       'senior java developer', 'account executive', 'oracle dba',
       'rf engineer', 'embedded software engineer',
       'programmer analyst trainee', 'technical engineer',
       'operations executive', 'trainee engineer', 'recruiter',
       'lecturer', '.net web developer', 'marketing executive', 'get',
       'operations assistant', 'associate manager',
       'electrical design engineer', 'systems administrator',
       'client services associate', 'it analyst', 'senior developer',
       'cad designer', 'business technology analyst', 'asst. manager',
       'service engineer', 'executive recruiter', 'planning engineer',
       'associate technical operations', 'sales executive',
       'web designer', 'software architect',
       'software quality assurance tester', 'seo trainee',
       'process engineer', 'software quality assurance analyst',
       'designer', 'business systems consultant',
       'business development manager', 'junior research fellow',
       'technical recruiter', 'operations analyst',
       'quality assurance test engineer', 'linux systems administrator',
       'software trainee', 'entry level sales and marketing',
       'electrical field engineer', 'windows systems administrator',
       'junior software developer', 'python developer',
       'web application developer', 'assistant systems engineer',
       'javascript developer', 'operation executive',
       'performance engineer', 'technical writer',
       'operations engineer and jetty handling', 'lead engineer',
       'portfolio analyst', 'associate system engineer',
       'mechanical design engineer', 'product engineer',
       'network security engineer', 'operations manager',
       'technical lead', 'quality assurance tester',
       'automation engineer', 'data scientist', 'quality associate',
       'manual tester', 'sr. engineer', 'embedded engineer',
       'service and sales engineer', 'telecom support engineer',
       'engineer- customer support', 'cloud engineer', 'branch manager',
       'business analyst consultant', 'technology lead',
       'software trainee engineer', 'dcs engineer', 'ux designer',
       'clerical', 'hr generalist', 'database administrator',
       'senior design engineer', 'hardware engineer', 'seo',
       'assistant engineer', 'marketing analyst', 'it executive',
       'salesforce developer', 'software tester', 'sql dba',
       'junior engineer product support', 'manager',
       'senior business analyst', 'c# developer', 'field engineer',
       'implementation engineer', 'executive hr', 'executive engineer',
       'sharepoint developer', 'system analyst',
       'sales management trainee', 'senior project engineer',
       'it recruiter', 'software engineer analyst',
       'desktop support technician', 'continuous improvement engineer',
       'process advisor', 'etl developer', 'sales and service engineer',
       'project manager', 'training specialist', 'product manager',
       'staffing recruiter', 'assistant programmer', 'quality controller',
       'mis executive', 'game developer', 'digital marketing specialist',
       'principal software engineer', 'software devloper',
       'senior mechanical engineer', 'technical operations analyst',
       'service coordinator', 'testing engineer', 'technical assistant',
       'sap abap consultant', 'seo engineer', 'project assistant',
       'talent acquisition specialist', 'sales account manager',
       'software engineer trainee', 'customer service manager',
       'help desk analyst', 'general manager', 'engineering manager',
       'senior network engineer',
       'field based employee relations manager', 'phone banking officer',
       'support engineer', 'associate test engineer',
       'technology analyst', 'network support engineer',
       'it business analyst', 'junior system analyst',
       'senior .net developer', 'secretary', 'research engineer',
       'quality assurance auditor', 'process executive',
       'lecturer & electrical maintenance', 'office coordinator',
       'hr manager', 'sales support', 'front end web developer',
       'administrative support', 'territory sales manager',
       'project administrator', 'environmental engineer',
       'web designer and seo', 'information security analyst',
       'field business development associate', 'operational executive',
       'administrative coordinator', 'senior risk consultant',
       'desktop support engineer', 'cad drafter', 'noc engineer',
       'industrial engineer', 'it engineer', 'human resources intern',
       'senior quality assurance engineer', 'clerical assistant',
       'software enginner', 'quality assurance',
       'delivery software engineer', 'graphic designer',
       'sales development manager', 'visiting faculty',
       'business intelligence analyst', 'team lead', 'html developer',
       'operational excellence manager', 'sales & service engineer',
       'web intern', 'full stack developer', 'database developer',
       'sr. database engineer', 'graduate apprentice trainee',
       'software engineer associate', 'technical analyst',
       'it technician', 'business system analyst',
       'process control engineer', 'technical consultant',
       'business office manager', 'quality control inspector',
       'product design engineer', 'manufacturing engineer',
       'seo executive', 'sap analyst', 'software engineere',
       'financial service consultant', 'co faculty', 'software analyst',
       'desktop support analyst', 'graduate engineer', 'it assistant',
       'marketing manager', 'human resource assistant', 'hr assistant',
       'product developer', 'customer support engineer',
       'quality control inspection technician', 'gis/cad engineer',
       'senior web developer', 'sql developer', 'research staff member',
       'sap abap associate consultant', 'associate qa',
       'corporate recruiter', 'project management officer',
       'business systems analyst', 'software programmer',
       'help desk technician', 'sales manager', 'catalog associate',
       'assistant store manager', 'software engg', 'it developer',
       'apprentice', 'business consultant', 'controls engineer',
       'ruby on rails developer', 'risk consultant', 'account manager',
       'professor', 'assistant administrator', 'civil engineer',
       'educator', 'service manager', 'teradata dba',
       'full-time loss prevention associate', 'junior recruiter',
       'associate developer', 'assistant electrical engineer',
       'shift engineer', 'dotnet developer', 'rf/dt engineer',
       'human resources analyst', 'software test engineerte',
       'junior .net developer', 'java trainee', 'maintenance supervisor',
       'r&d engineer', 'front end developer', 'engineer-hws',
       'operations engineer', 'senior research fellow',
       'web designer and joomla administrator',
       'enterprise solutions developer',
       'information technology specialist', 'site engineer',
       'graduate trainee engineer', 'quality assurance analyst',
       'cnc programmer', 'financial analyst', 'system engineer trainee',
       'sap mm consultant', 'assistant system engineer trainee',
       'qa trainee', 'teradata developer', 'hr executive',
       'senior programmer', 'software test engineer (etl)',
       'associate software engg', 'supply chain analyst', 'sales trainer',
       'software executive', 'team leader',
       'assistant system engineer - trainee', 'seo analyst',
       'risk investigator', 'executive administrative assistant', 'r & d',
       'sap functional consultant', 'website developer/tester',
       'software designer', 'sales coordinator', 'qa engineer'],
      dtype=object)

In [ ]:
data["Role"] = data["Role"].str.title()
data

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

        CTC                      Role  ...  Avg_Personality  CityTier
0      4.20   Senior Quality Engineer  ...          0.64456         1
1      5.00         Assistant Manager  ...          0.32822         0
2      3.25          Systems Engineer  ...          0.39006         1
3     11.00  Senior Software Engineer  ...         -0.25600         0
5      3.00           System Engineer  ...         -0.96410         1
...     ...                       ...  ...              ...       ...
3493   4.05          Project Engineer  ...          0.61170         0
3494   3.25           System Engineer  ...         -0.61570         1
3495   4.25           Design Engineer  ...         -0.05014         1
3496   5.30        Technology Analyst  ...         -0.24048         1
3497   1.20           Design Engineer  ...          0.40432         0

[3413 rows x 8 columns]

In [ ]:
data.loc[data["Role"].str.contains("Engineer"), "Role"] = "Engineers"
data.loc[data["Role"].str.contains("Engg"), "Role"] = "Engineers"
data.loc[data["Role"].str.contains("Enginner"), "Role"] = "Engineers"
data.loc[data["Role"].str.contains("Developer"), "Role"] = "Developers"
data.loc[data["Role"].str.contains("Devloper"), "Role"] = "Developers"
data.loc[data["Role"].str.contains("Analyst"), "Role"] = "Analysts"
data.loc[data["Role"].str.contains("Manager"), "Role"] = "Managers"
data.loc[data["Role"].str.contains("Trainee"), "Role"] = "Trainees/Interns"
data.loc[data["Role"].str.contains("Coordinator"), "Role"] = "Coordinators"
data.loc[data["Role"].str.contains("Designer"), "Role"] = "Designers"
data.loc[data["Role"].str.contains("Architect"), "Role"] =  "Designers"
data.loc[data["Role"].str.contains("Executive"), "Role"] = "Executives"
data.loc[data["Role"].str.contains("Recruiter"), "Role"] = "Recruiters"
data.loc[data["Role"].str.contains("Hr"), "Role"] = "Recruiters"
data.loc[data["Role"].str.contains("Administrator"), "Role"] = "Administrators"
data.loc[data["Role"].str.contains("Trainer"), "Role"] = "Trainers"
data.loc[data["Role"].str.contains("Associate"), "Role"] = "Associates"
data.loc[data["Role"].str.contains("Assistant"), "Role"] = "Assistants"
data.loc[data["Role"].str.contains("Programmer"), "Role"] = "Programmers"
data.loc[data["Role"].str.contains("Specialist"), "Role"] = "Specialists"
data.loc[data["Role"].str.contains("Tester"), "Role"] = "Testers"
data.loc[data["Role"].str.contains("Operator"), "Role"] = "Operators"
data.loc[data["Role"].str.contains("Consultant"), "Role"] = "Consultants"
data.loc[data["Role"].str.contains("Educator"), "Role"] = "Trainers"
data.loc[data["Role"].str.contains("Professor"), "Role"] = "Trainers"
data.loc[data["Role"].str.contains("Customer"), "Role"] = "Customer Service"
data.loc[data["Role"].str.contains("Faculty"), "Role"] = "Trainers"
data.loc[data["Role"].str.contains("Lecturer"), "Role"] = "Trainers"
data.loc[data["Role"].str.contains("Intern"), "Role"] = "Trainees/Interns"
data.loc[data["Role"].str.contains("Quality"), "Role"] = "Quality Control"
data.loc[data["Role"].str.contains("Maintenance"), "Role"] = "Quality Control"
data.loc[data["Role"].str.contains("Fellow"), "Role"] = "Trainees/Interns"
data.loc[data["Role"].str.contains("Technician"), "Role"] = "Technicians"
data.loc[data["Role"].str.contains("Support"), "Role"] = "Support"
data.loc[data["Role"].str.contains("Phone"), "Role"] = "Support"
data.loc[data["Role"].str.contains("Apprentice"), "Role"] = "Trainees/Interns"
data.loc[data["Role"].str.contains("Lead"), "Role"] = "Managers"
data.loc[data["Role"].str.contains("Entry"), "Role"] = "Trainees/Interns"
data.loc[data["Role"].str.contains("Clerical"), "Role"] = "Assistants"
data.loc[data["Role"].str.contains("Cad"), "Role"] = "Designers"
data.loc[data["Role"].str.contains("Research"), "Role"] = "Research"
data.loc[data["Role"].str.contains("&"), "Role"] = "Research"
data.loc[data["Role"].str.contains("Data"), "Role"] = "Analysts"
data.loc[data["Role"].str.contains("Secretary"), "Role"] = "Managers"
data.loc[data["Role"].str.contains("Writer"), "Role"] = "Executives"
data.loc[data["Role"].str.contains("Management"), "Role"] = "Managers"
data.loc[data["Role"].str.contains("Advisor"), "Role"] = "Associates"
data.loc[data["Role"].str.contains("Investigator"), "Role"] = "Consultants"
data

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

        CTC       Role  CollegeTier  ...  collegeGPA  Avg_Personality  CityTier
0      4.20  Engineers          2.0  ...       78.00          0.64456         1
1      5.00   Managers          2.0  ...       70.06          0.32822         0
2      3.25  Engineers          2.0  ...       70.00          0.39006         1
3     11.00  Engineers          1.0  ...       74.64         -0.25600         0
5      3.00  Engineers          2.0  ...       76.32         -0.96410         1
...     ...        ...          ...  ...         ...              ...       ...
3493   4.05  Engineers          2.0  ...       83.53          0.61170         0
3494   3.25  Engineers          2.0  ...       74.31         -0.61570         1
3495   4.25  Engineers          2.0  ...       76.27         -0.05014         1
3496   5.30   Analysts          2.0  ...       74.50         -0.24048         1
3497   1.20  Engineers          2.0  ...       60.00          0.40432         0

[3413 rows x 8 columns]

In [ ]:
data.drop(data[data["Role"] == "Operators"].index, inplace = True)
data.drop(data[data["Role"] == "Ase"].index, inplace = True)
data.drop(data[data["Role"] == "Teradata Dba"].index, inplace = True)
data.drop(data[data["Role"] == "Oracle Dba"].index, inplace = True)
data.drop(data[data["Role"] == "Sql Dba"].index, inplace = True)
data.drop(data[data["Role"] == "Get"].index, inplace = True)
data.drop(data[data["Role"] == "Seo"].index, inplace = True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4117: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
data = label("Role", data)
data

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

        CTC  Role  CollegeTier  ...  collegeGPA  Avg_Personality  CityTier
0      4.20     0          2.0  ...       78.00          0.64456         1
1      5.00     1          2.0  ...       70.06          0.32822         0
2      3.25     0          2.0  ...       70.00          0.39006         1
3     11.00     0          1.0  ...       74.64         -0.25600         0
5      3.00     0          2.0  ...       76.32         -0.96410         1
...     ...   ...          ...  ...         ...              ...       ...
3493   4.05     0          2.0  ...       83.53          0.61170         0
3494   3.25     0          2.0  ...       74.31         -0.61570         1
3495   4.25     0          2.0  ...       76.27         -0.05014         1
3496   5.30     3          2.0  ...       74.50         -0.24048         1
3497   1.20     0          2.0  ...       60.00          0.40432         0

[3377 rows x 8 columns]

# Preparing Data for Training

In [ ]:
import numpy as np

from sklearn import model_selection
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.linear_model import ElasticNet
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from math import sqrt

In [ ]:
x = data[["Role", "CollegeTier", "Deg", "Branch", "collegeGPA", "Avg_Personality", "CityTier"]]
y = data["CTC"]

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2)

## Multiple Linear Regression

In [ ]:
lr = LinearRegression()
lr.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

pred_train_lr= lr.predict(x_train)
print(np.sqrt(mean_squared_error(y_train,pred_train_lr)))
print(r2_score(y_train, pred_train_lr))

pred_test_lr= lr.predict(x_test)
print(np.sqrt(mean_squared_error(y_test,pred_test_lr))) 
print(r2_score(y_test, pred_test_lr))

1.3615588303408497
0.1342624919954839
1.2598203940844503
0.1557860691634756

# Lasso Regression

In [ ]:
model_lasso = Lasso(alpha=0.01)
model_lasso.fit(x_train, y_train) 
pred_train_lasso= model_lasso.predict(x_train)
print(np.sqrt(mean_squared_error(y_train,pred_train_lasso)))
print(r2_score(y_train, pred_train_lasso))

pred_test_lasso= model_lasso.predict(x_test)
print(np.sqrt(mean_squared_error(y_test,pred_test_lasso))) 
print(r2_score(y_test, pred_test_lasso))

1.3628270401404259
0.13264897651905783
1.2593406189138323
0.15642894772081406

# Ridge Regression

In [ ]:
rr = Ridge(alpha=0.01)
rr.fit(x_train, y_train) 
pred_train_rr= rr.predict(x_train)
print(np.sqrt(mean_squared_error(y_train,pred_train_rr)))
print(r2_score(y_train, pred_train_rr))

pred_test_rr= rr.predict(x_test)
print(np.sqrt(mean_squared_error(y_test,pred_test_rr))) 
print(r2_score(y_test, pred_test_rr))

1.3615588304699175
0.13426249183135008
1.259820031425969
0.15578655520307216

#ElasticNet Regression

In [ ]:
model_enet = ElasticNet(alpha = 0.01)
model_enet.fit(x_train, y_train) 
pred_train_enet= model_enet.predict(x_train)
print(np.sqrt(mean_squared_error(y_train,pred_train_enet)))
print(r2_score(y_train, pred_train_enet))

pred_test_enet= model_enet.predict(x_test)
print(np.sqrt(mean_squared_error(y_test,pred_test_enet)))
print(r2_score(y_test, pred_test_enet))

1.3624453415689695
0.13313476125114332
1.2595044360317467
0.15620946720133155